.homeland {
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,1);
}
.homeland_home {
    width: 100%;
    margin-bottom: 112px;
}
.homeland_home_wrap {
    width: 1170px;
    margin: auto;
}
.homeland_home_wrap_title h1 {
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.homeland_home_wrap_content {
    width: 100%;
    margin-top: 42px;
}
.homeland_home_wrap_content_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.homeland_home_wrap_content_box_img {
    width: 50%;
    height: 585px;
    background: red;
}
.homeland_home_wrap_content_box_txt {
    width: 50%;
    height: 585px;
    padding: 142px 83px 20px 83px;
    background: white;
}
.homeland_home_wrap_content_box_txt h1 {
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    text-align: center;
    color:rgba(51,51,51,1);
}
.homeland_home_wrap_content_box_txt p:nth-child(2) {
    margin-top: 79px;
    text-indent: 30px;
}
.homeland_home_wrap_content_box_txt p {
    text-indent: 30px;
    line-height: 20px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.homeland_details {
    width: 100%;
    height:960px;
    padding-top: 83px;
    background:rgba(244,244,244,1);
}
.homeland_details_wrap {
    width: 1170px;
    margin: auto;
}
.homeland_details_title h1 {
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:bold;
}
.homeland_details_img {
    width: 1170px;
    margin: auto;
    margin-top: 96px;
    height: 679px;
    display: flex;
    justify-content: space-between;
}
.homeland_details_img_left {
    text-align: right;
    position: relative;
    width: 195px;
}
.homeland_details_img_left_box {
    width: 195px;
}
.homeland_details_img_center {
    width: 773px;
    height: 680px;
    background: url('../../../../assets/homeland/img_jiayuan_con.png')center center;
}
.homeland_details_img_left_box h1 {
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:28px;
}
.homeland_details_img_left_box p {
    font-size:13px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:18px;
    margin-top: 19px;
}
.homeland_details_img_right {
    text-align: left;
    position: relative;
}
.homeland_details_img_left .homeland_details_img_left_box:nth-child(1){
    position: absolute;
    left: 90px;
    top: 50px;
}
.homeland_details_img_left .homeland_details_img_left_box:nth-child(2){
    position: absolute;
    left: 0px;
    top: 280px;
}
.homeland_details_img_left .homeland_details_img_left_box:nth-child(3){
    position: absolute;
    left: 90px;
    top: 545px;
}
.homeland_details_img_right {
    width: 195px;
}
.homeland_details_img_right .homeland_details_img_left_box:nth-child(1){
    position: absolute;
    left: -90px;
    top: 50px;
}
.homeland_details_img_right .homeland_details_img_left_box:nth-child(2){
    position: absolute;
    left: 0px;
    top: 280px;
}
.homeland_details_img_right .homeland_details_img_left_box:nth-child(3){
    position: absolute;
    left: -90px;
    top: 545px;
}